input {
    display: block;
    box-sizing: border-box;
    height: 25px;
    width: 250px;
    padding: 20px; 
}

.addUserButton {
  display: block;
  box-sizing: border-box;
  height: 30px;
  width: 70px;
  padding: 50px;
  border-radius: 5;
}

.addUser {
  float: left;
  width: 50%;
}

.UserList {
  float: right;
  list-style-type: none;
  width: 50%;
  text-align: left;
}
